*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.container{
    width: 70%;
    background-color: red;
    margin: auto;
    overflow: hidden;
}

.banner {
    height: 400px;
    background: url(/burger.jpg) no-repeat center center/cover;
}
.chefdiv{
    background-color: red;
    width: 150px; 
    height: 150px;
    position: relative;
    border-radius: 50%;
    margin: -100px auto;
    margin-bottom: -10px;
}
.chefdiv > img {
    width: 100%;
}
h3{
    color: #fff;
    text-align: center;
}
.menu{
    background: url(heading-bg.png) no-repeat center center/cover;
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-family: "Pacifico", cursive;
}
.tab{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.tab > table{
    width: 73%;
    margin: auto;
    padding-top: 20px;
    height: 300px;
    color: white;
}

tr > :nth-child(1){
    width: 230px;
}
tr > :nth-child(2){
    text-align: center;
}
tr > :nth-child(3){
    text-align: right;
}
.tab > img{
    width: 150px;
    position: relative;
    left: 88%;
    bottom: 45px;
}
.foot{
    position: relative;
    background:url(food-plate2.jpg) no-repeat center center/cover;
    height: 555px;
}
.footcontent{
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
    padding-top: 50px;
}
.order_form{
    width: 80%;
    margin: auto;
}
.order_form > input, textarea, select, #submit{
    width: 100%;
    margin: 5px 0;
    color: white;
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid white;
    padding-left: 7px;
}
select{
    height: 40px;
}
select > option{
    color: black;
}
input{
    height: 38px;
    padding-left: 10px;
}
::placeholder{
    color: white;
}
textarea{
    height: 150px;
}
#submit{
    background-color: yellow;
    height: 35px;
    padding: 6px;
    border-radius: 5px;
    color:black;
    font-weight: 900px;
}

/* Media Queries for mobile view */
@media only screen and (max-width: 699px) {
    .container{
        width: 100%;
    }
    .banner{
        height: 250px;
    }
    tr > :nth-child(2){
        display: none;
    }
    .menu{
        padding: 2px;
    }
    .chefdiv{
        width: 130px; 
        height: 130px;
    }
    .tab > img{
        left: 84%;
        bottom: 20px;
    }
}

/* Media Queries for Tablet view */
@media only screen and (min-width: 700px) and (max-width:1024px){
    .container{
        width: 90%;
    }
    .banner{
        height: 300px;
    }

}